<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>wheather app</title>
</head>
<body>

    <div class="container">

        <div class="header">

            <div class="icon">
                <img src="" alt="">
            </div>

        </div>

        <div class="content">
            <div class="general-info">
                <div class="status">TBD</div>
                <div class="location">TBD</div>
            </div>
            
            <div class="detailed-info">

                <div class="detail">
                    <div class="title">WIND</div>
                    <div class="value">TBD</div>
                </div>

                <div class="detail border">
                    <div class="title">TEMP</div>
                    <div class="value">TBD</div>
                </div>

                <div class="detail">
                    <div class="title">SS</div>
                    <div class="value">TBD</div>
                </div>

            </div>

            <div class="city-search-container">
                <form action="/weather" method="post">
                    <input type="text" name="city" class="city-search" placeholder="Enter Location">
                    <input type="submit" class="btn" value="submit">
                </form>
            </div>

        </div>

    </div>


</body>
</html>